# Ignore everything
*

# But not these files...
!.gitignore
!demo/*
!modules/gateways/remoteinputgateway.php
!modules/gateways/callback/remoteinputgateway.php
# etc...

# ...even if they are in subdirectories
!*/
